.playlist-image-container img {
  border-radius: 10px;
}

.playlist-card {
  border-radius: 10px;
  cursor: pointer;
}

.playlist-card:hover {
  filter: brightness(1.1);
  background-color: var(--gray);
}