.simple-track-row {
  background-color: var(--black);
}

.simple-track-row:hover,
.simple-track-row.selected {
  background-color: var(--gray);
  opacity: 1;
  filter: brightness(1.1);
}

.simple-track-row:hover .translucent-text {
  opacity: 1 !important;
}

.tracks-table .track-number {
  min-width: 3ch;
}

.tracks-table th {
  color: var(--white);
  background-color: var(--black);
  border: none;
  font-weight: 500;
}

.table thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.simple-track-row .table-dots,
.simple-track-row .not-liked {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.simple-track-row:hover .table-dots,
.simple-track-row:hover .not-liked,
.simple-track-row.selected .table-dots,
.simple-track-row.selected .not-liked {
  opacity: 1;
  visibility: visible;
}

.track-duration {
  cursor: default;
}

.track-like-indicator {
  font-size: 1.25rem;
  cursor: pointer;
}

.track-play {
  cursor: pointer;
  display: none;
}

.track-image-container {
  height: 3rem;
}

.track-image-container img {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .tracks-table .show-date {
    display: none;
  }
}

@media (max-width: 991px) {
  .tracks-table .show-album {
    display: none;
  }
}

.table-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-width {
  min-width: 150px;
}