:root {
  --white: #FFFFFF;
  --primary: #1ED760;
  --black: #121212;
  --gray: #252525;
  --light-gray: #303030;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--white);
}

hr {
  margin: 0.5rem 0;
}

.table td {
  background-color: transparent;
  color: var(--white);
  border: none;
}