.primary-button {
  border-radius: 50%;
  font-size: 4rem;
}

.secondary-button {
  border-radius: 50%;
  font-size: 2.5rem;
}

.play-button {
  border: none;
  color: white;
}

.play-button:hover,
.play-button:active {
  filter: brightness(1.2);
  transform: scale(1.05);
  opacity: 1;
  border: none;
}